<strong> Olá, {{ meetupCreator }}</strong>

<p>Houve uma nova inscrição em seu Meetup, confira os detalhes abaixo:</p>

<p>
  <strong>Inscrito: </strong> {{ user }} <br />
  <strong>Meetup: </strong> {{ meetup_title }} <br />
  <strong>Data: </strong> {{ date }} <br />

  </p>
